.App {
  text-align: center;
}

.App-header {
  background-color: #673ab7;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 1em;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: white;
}
